* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
#navbar {
  width: 90%;
  margin: auto;
  margin-top: 1%;
  border: solid black 1px;
  display: flex;
}
#nav-button ul {
  list-style: none;
  display: flex;
}
#nav-button a {
  text-decoration: none;
}
